/* ====== CONTACT PAGE STYLES ===== */
.contact-profile {
  padding: 2rem 1rem;
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  text-align: left;
  color: var(--whitesmoke);
}

.contact-profile_heading {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: var(--yellow);
  margin-bottom: 1rem;
}

.contact-info-box {
  width: 100%;
  max-width: 350px;
  margin-bottom: 1.5rem;
  margin-left: auto;
  margin-right: auto;
}

.contact-info-text {
  background-color: rgba(0, 0, 0, 0.7);
  border: 2px solid var(--yellow);
  border-radius: 10px;
  padding: 1.5rem;
  font-size: 1.25rem;
  line-height: 1.5;
  color: var(--whitesmoke);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

/* ====== CONTACT FORM STYLES ===== */
.contact-form-container {
  margin-top: 2rem;
  width: 100%;
  display: block;
  padding: 0 1rem;
}

.contact-form-box {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 1.5rem;
  border: 2px solid var(--yellow);
  border-radius: 10px;
  color: var(--whitesmoke);
  width: 100%;
  max-width: 600px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.contact-form-box legend {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--yellow);
  margin-bottom: 1rem;
}

.contact-form-box label {
  font-weight: bold;
  color: var(--yellow);
  display: block;
  margin-top: 1rem;
}

.contact-form-box input,
.contact-form-box textarea {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.25rem;
  border-radius: 5px;
  border: 2px solid var(--yellow);
  background-color: #f9f9f9;
  font-size: 1rem;
}

.contact-form-box textarea {
  resize: vertical;
  min-height: 100px;
}

/* ======= BUTTON STYLES ======= */
.contact-button {
  display: block;
  margin: 1rem auto 0 auto;
  padding: 0.6rem 1rem;
  font-size: 1rem;
  background-color: var(--black);
  color: var(--whitesmoke);
  border: 2px solid var(--yellow);
  border-radius: 5px;
  cursor: pointer;
  margin-top: 1rem;
  transition: background-color 0.3s ease;
}

.contact-button:hover,
.contact-button:focus {
  background-color: var(--black);
  box-shadow: 0 0 10px var(--yellow), 0 0 20px var(--yellow);
  color: var(--whitesmoke);
}

/* ====== RESPONSIVE STYLES ===== */
@media (max-width: 768px) {
  .contact-profile_heading {
    font-size: 1.5rem;
  }

  .contact-info-box,
  .contact-form-box {
    padding: 1rem;
    width: 100%;
    max-width: none;
  }

  .contact-info-box {
    max-width: 100%;
  }
}