/* ====== CONTACT PAGE STYLES ===== */
.contact-profile {
  padding: 2rem 1rem;
  margin: 0 auto;
  max-width: 1000px;
  text-align: center;
  color: var(--whitesmoke);
}

.contact-profile_heading {
  font-size: 2rem;
  color: var(--yellow);
  margin-bottom: 1.5rem;
}

.contact-info-box {
  margin-bottom: 2rem;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.contact-info-text {
  background-color: rgba(0, 0, 0, 0.7);
  border: 2px solid var(--yellow);
  border-radius: 10px;
  padding: 1.5rem;
  font-size: 1rem;
  line-height: 1.5;
  color: var(--whitesmoke);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* ====== CONTACT FORM STYLES ===== */
.contact-form-container {
  margin-top: 2rem;
}

.contact-form-box {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 2rem;
  border: 2px solid var(--yellow);
  border-radius: 10px;
  color: var(--whitesmoke);
  max-width: 600px;
  margin: 0 auto;
  text-align: left;
}

.contact-form-box legend {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--yellow);
  margin-bottom: 1rem;
}

.contact-form-box label {
  font-weight: bold;
  color: var(--yellow);
  display: block;
  margin-top: 1rem;
}

.contact-form-box input,
.contact-form-box textarea {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.25rem;
  border-radius: 5px;
  border: 2px solid var(--yellow);
  background-color: #f9f9f9;
  font-size: 1rem;
}

.contact-form-box textarea {
  resize: vertical;
  min-height: 100px;
}

.contact-form-box small {
  color: var(--whitesmoke);
  font-size: 0.85rem;
  margin-bottom: 0.5rem;
  display: block;
}

.contact-button {
  display: block;
  margin: 1rem auto 0;
  background-color: var(--yellow);
  border: none;
  padding: 0.6rem 1rem;
  color: var(--black);
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  color: black;
  margin-top: 1rem;
  transition: background-color 0.3s ease;
}

.contact-button:hover {
  background-color: #ffcc00;
}

/* ====== RESPONSIVE STYLES ===== */
@media (max-width: 768px) {
  .contact-profile_heading {
    font-size: 1.5rem;
  }

  .contact-form-box {
    padding: 1rem;
  }
}